            <!--FORMACIÓN ACADÉMICA-->
            <section class="sectionContent">
                <div>
                    <h2 class="sectionTitle">FORMACIÓN ACADÉMICA</h2>
                    <h4>FULL STACK DEV. JUNIOR</h4>
                    <h4>Ministerio de Desarrollo Productivo | 2022 - En curso</h4>
                    <br>
                    <h4>DIRECCIÓN CINEMATOGRÁFICA</h4>
                    <h4>Universidad del Cine | 2012 - 2017</h4>
                    <br>
                    <h4>Polimodal en Humanidades y Cs. Sociales</h4>
                    <h4>Colegio Prov. N° 713 Juan Abdala Chayep, Esquel, Chubut | 2004 - 2010</h4>
                    <br>
                </div>
                </section>
                <!--IDIOMAS-->
                <section class="sectionContent">
                <div>
                    <h2 class="sectionTitle">IDIOMAS</h2>
                    <h4>CHINO MANDARÍN</h4>
                    <h4>Centro Universitario de Idiomas | 2020 - En curso</h4>
                    <br>
                    <h4>INGLÉS - FIRST CERTIFICATE IN ENGLISH</h4>
                    <h4>University of Cambridge | 2008</h4>
                    <br>
                    <hr>
                </div>
                </section>