<section class="sectionContent">
    <div>
        <h2 class="sectionTitle">EXPERIENCIA LABORAL</h2>
        <h4>DOCENTE PARTICULAR</h4>
        <h4>Independiente | 2020 - Actualidad</h4>
        <h5>Dictado de clases particulares de realización y diseño audiovisual 
            en Adobe Premiere Pro y After Effects</h5>
        <br>
        <h4>REALIZADOR Y PRODUCTOR AUDIOVISUAL</h4>
        <h4>Independiente | 2015 - Actualidad</h4>
        <h5>Diseño, producción y edición de piezas audiovisuales y fotográficas. 
            Diseño de luces, manejo de cámara y sonido, edición de video, diseño 
            de títulos y placas animadas. Búsqueda de material de archivo. Manejo 
            de proveedores, armado de carpetas para proyectos. Liderazgo 
            de equipos de trabajo. Armado y ejecución de presupuestos.</h5>
        <br>
        <h4>DISEÑADOR FRONT END DEV. TRAINEE</h4>
        <h4>Asivas | Enero 2022 - Agosto 2022</h4>
        <h5>Práctica profesional en desarrollo de proyecto de gestión 
            de venta de energía. Recibiendo capacitación parcial en Figma 
            e implementación de Tailwind CSS, Vue.js y complementación con PHP, 
            además de Matice para traducciones a inglés.</h5>
            <br>
            <hr>
    </div>
        </section>